
/**************    Homepage    ************/
body {
  background-color: #fcf8ef
}

h1 {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  vertical-align: bottom;
  font-weight: 700;
  font-size: 57px;
  padding-top: 20px;
  padding-left: 7px;
}

#city_pics {
  padding-top: 105px;
}
/****************   Photo Selectors   ******************/
img.city.img-responsive {
  margin-bottom: 15px;
  border-radius: 20px;
  cursor: pointer;
  border: 7px solid #3d434f;
}

.brighten img {
-webkit-filter: brightness(95%);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}
.brighten img:hover {
-webkit-filter: brightness(150%);
/*box-shadow: 7px 7px 5px rgba(61, 67, 79, .5);*/
/*box-shadow: 7px 7px 5px #3d434f; */
}

/*figure.effect-city img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}*/
div.effect-city{
  padding-bottom: 20px
}

p.special {
  padding-top: 20px;
  padding-left: .5px;
  font-family: 'Pacifico', sans-serif;
  font-size: 50px;
  margin-top: -120px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

.effect-city:hover img {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  opacity: 0.5;
  border: 7px solid rgba(0, 0, 0, 1);
}

.effect-city:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/**************     NavBar     ************/

#super_specific_id {
	background-color: #3b3f46;
  font-family: 'Montserrat', sans-serif
}
  #super_specific_id a{
    background-color: #3b3f46
  }
/*  #C0C0C0*/

  .navbar-brand {
    font-style: #d1d1d1;
  }

.navbar-inverse .navbar-nav .active a{
  color: #9d9d9d;
  font-size: 16px;
  } 
.navbar-inverse .navbar-nav .hover a{
  color: #fff;
  font-size: 16px;
  }
    
/*.navbar-md {min-height:40px}
.navbar-md .navbar-brand,
.navbar-md .navbar-nav>li>a {padding-top:10px; padding-bottom:10px}
.navbar-md .navbar-brand {height: 40px}  
.navbar-md .navbar-toggle {margin: 6px 12px 6px 0px; padding: 6px 7px 6px 7px;}
.navbar-md .navbar-toggle .icon-bar {width: 19px;}*/
/**************    Map Toggle Styling    ************/

.menu-ui {
  background:#fff;
  position:absolute;
  top:10px;right:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
  }
  .menu-ui a {
    font-size:13px;
    color:#404040; 
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
    }
    .menu-ui a:first-child {
      border-radius:3px 3px 0 0;
      }
    .menu-ui a:last-child {
      border:none;
      border-radius:0 0 3px 3px;
      }
    .menu-ui a:hover {
      background:#f8f8f8;
      color:#404040;
      }
    .menu-ui a.active {
      background:#3887BE;
      color:#FFF;
      }
      .menu-ui a.active:hover {
        background:#3074a4;
        }

/******************    SLIDER     ******************/
#slider {
    margin: 10px;
}
  .ui-slider .ui-slider-handle {
    padding-left: 8px; 
    color:#046380;
  }

  .ui-state-default, .ui-widget-content .ui-state-default {
    border:#046380;
    background:#046380;
    color:#046380;
  }

#amount {
  font-family: 'Montserrat';
  font-size: 17px;
  color:#3b3f46;
}

.container {
  padding-top: 80px;
}
/*******************   Map & Map Details   *********************/
p.map_city {
  font-family: 'Pacifico', sans-serif;
  font-size: 35px;
}

.num_homes {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

#map {
  padding-top: 10px;
  padding-left: -40px;
  border-width: 2px;
  border-style: solid;
  border-color: #9d9d9d;
}
/***************  Yelp Category Selection   ******************/
h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #3b3f46;
  margin-top: -7px;
}

#submit_prefs {
  font-family: 'Pacifico', sans-serif;
  font-size: 20px;
  height: 40px;
  width: 100px;
}

.flat-check-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 16.5px;
  color: #3b3f46 ;
  padding-right: 4px;
}

input[type="checkbox"] {
  transform:scale(1.5, 1.5);
}
/*input[type='checkbox'] {
    -webkit-appearance:none;
    width:15px;
    height:15px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}*/
/*/*input #checkbox {

}
#Yelp_Params label {  /*works*/
  /*cursor: pointer;
}*/

/*.flat-check {
  display: none;
  width: 2rem;
  height: 2rem;

}*/
/*.flat-check:checked + .flat-check-label,
.flat-check:checked + .flat-check-label::after {
  opacity: 1;
}*/
/*.flat-check-label {
  display: block;
  padding: 1rem;
  border-radius: 0.25em;
  transition: 0.15s ease-in-out background-color;
  position: relative;
  color: #fff;
  opacity: 0.75;
  transition: 0.15s ease opacity;
  margin-bottom: 1rem;
  text-align: center;
}*/
/*.red-label::before {
  opacity: 0.5;
  background-color: #e74c3c;
  border-color: #e74c3c;

}*/
/*.flat-check-label::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: -4rem;
  border: 1px solid #000;
  background: #fff;
}*/
/*.flat-check-label::after {
  content: "";
  width: 1rem;
  height: 1.5rem;
  position: absolute;
  right: -2rem;
  top: 0.5rem;
  border: 0.5rem solid;
  border-left: none;
  border-top: none;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.15s ease opacity;
}*/
/*.flat-check-label:hover::after {
  opacity: 0.6;
}*/
/*.red-label {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.red-label::after {
  border-color: inherit;
}*/