<!doctype html>
<html>
<head>
    <title>HouseHunter</title>
    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/static/js/script.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet'/>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>  
    <script src="/static/js/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!--     <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/> -->
    <link rel="stylesheet" type="text/css" href="/static/css/styling.css"/>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='/static/fonts/pacifico.ttf' rel='stylesheet' type='text/css'>

</head>

<body>
  <div id="super_specific_id"
      <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">               
                    <div class="navbar-header">
                          <button type="button"
                                  class="navbar-toggle collapsed"
                                  data-toggle="collapse"
                                  data-target="#navbar"
                                  aria-expanded="false"
                                  aria-controls="navbar">
                              <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                          </button>
                              <a class="navbar-brand" href="/">House Hunter</a>
                    </div>  <!-- navbar header close -->
                    <div id="navbar" class="navbar-collapse collapse">
                          <ul class="nav navbar-nav navbar-left">
                              <li class="active"><a href="/">Home</a></li>
                              <!-- <li><a href="#">About Us</a></li>
                              <li><a href="#">Contact</a></li> -->
                              </li>
                          </ul>
                          <ul class="nav navbar-nav navbar-right">
                              <li><a href="#">Profile</a></li>
                              <li><a href="#">Log In</a></li>
                          </ul>
                    </div>
            </div>
      </nav>
    </div>
</body>


{% block content %}
	content goes here
{% endblock %}


</html>