{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Where would you like to live?</h1>
		</div>
	</div>
</div>

<div class="container">
<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12 brighten">
        <img src="/static/images/Portland_OR.jpg" class="city img-responsive" data-lat="45.523062" data-lon="-122.676482" data-city="PORT">
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 brighten">
      <img src="/static/images/San_Diego_CA.jpg" class="city img-responsive" data-lat="32.732996" data-lon="117.163868" data-city="SD">
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 brighten">
      <img src="/static/images/san_fran_fog_night.jpg" class="city img-responsive" data-lat="37.766237" data-lon=-122.439280 data-city="SF"> 
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12 brighten">
      <img src="/static/images/Seattle.jpg" class="city img-responsive" data-lat="47.606209" data-lon="-122.332071" data-city="SEA">
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 brighten">
      <img src="/static/images/Washington_DC.jpg" class="city img-responsive" data-lat="38.900652" data-lon=-77.030897 data-city="DC">
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 brighten">
      <img src="/static/images/goat-in-pajamas.jpg" class="city img-responsive" data-lat="45.523062" data-lon="-122.676482" data-city="PORT">
    </div>
  </div>
</div>

{% endblock %}