{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-9">
			<div id="map" style="width:100%; height:500px"></div>
<pre id='coordinates' class='ui-coordinates'></pre>

AWESOME Map Will go Here.
YOUR LAT LON:
{{ setView.lat }}
{{ setView.lon }}

<p> These are your homes!!</p>

{% for listing in listings %}
	{{listing.address}}
	{{listing.city}}
	{{listing.list_price}}
{% endfor %}



 
<script>
//MAKE MAP APPEAR

L.mapbox.accessToken = 'pk.eyJ1Ijoic2FyYWhmbyIsImEiOiJaQmdHLWZJIn0.eEg4zenYs0-qcPsMBZ9i1g';
var map = L.mapbox.map('map').setView([{{setView.lat}},{{setView.lon}}], 13);
L.control.layers({
	'Mapbox Streets': L.mapbox.tileLayer('mapbox.streets').addTo(map),
});
var myHouseLayer = L.mapbox.featureLayer().addTo(map)

var features = [];

{% for listing in listings %}
  {% if listing.latitude %}
  {% if listing.longitude %}

              features.push({
                  type: 'Feature',
                  geometry: {
                      type: 'Point',
                      coordinates: [{{listing.longitude}}, {{listing.latitude}}]

                  },
                  properties: {
                      'marker-color': '#060',
                      'marker-symbol': 'building',
                       title: '{{listing.address|capitalize}}',
                      {% if listing.list_price %}
                        'Price:': '{{listing.list_price}}'
                      {% endif %}
                      
                  }
              });
      {% endif %}
  {% endif %}      
{% endfor %}
          myHouseLayer.setGeoJSON({
              type: 'FeatureCollection',
              features: features
          });

          map.on('move', function() {
              // Construct an empty list to fill with onscreen markers.
              var inBounds = [],
              // Get the map bounds - the top-left and bottom-right locations.
                  bounds = map.getBounds();

              // For each marker, consider whether it is currently visible by comparing
              // with the current map bounds.
              myHouseLayer.eachLayer(function(marker) {
                  if (bounds.contains(marker.getLatLng())) {
                      inBounds.push(marker.options.title);
                  }
              });

              // Display a list of markers.
              document.getElementById('coordinates').innerHTML = inBounds.join('\n');
          });

</script>
</div>


	<div class="col-md-3">
		<form action="/make_yelp_parameters" method="GET" id="Yelp_Params">
			  <h5> I want to live within walking distance of: </h5>
				<label> <input type="checkbox" name="category_filter" value="grocery"> Grocery Stores </label>
				<br>
				<label><input type="checkbox" name="category_filter" value="gyms"> Gym </label>
				<br>
				<label><input type="checkbox" name="category_filter" value="restaurants"> Restaurants </label>
				<br>
				<label><input type="checkbox" name="category_filter" value="divebars"> Dive Bars </label>
				<br>
				<label><input type="checkbox" name="category_filter" value="gaybars"> Gay Bars </label>
				<br>
				<label><input type="checkbox" name="category_filter" value="meditationcenters"> Meditation Centers </label>
				<br>
				<label><input type="checkbox" name="category_filter" value="yoga"> Yoga </label>
				<br>
				<label><input type="checkbox" name="category_filter" value="rock_climbing"> Rock Climbing </label>
				<br>
				<input type="submit" value="Display">
			</form>
		</div>
	</div>
</div>


{% endblock %}