{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-9">
			   <div id="map" style="width:100%; height:500px"></div>
            <p>{{ city }}</p>

          
           <!--  <p id="homes"></p> -->

          <script> 
              $('#homes').text("{{listings|count}}" + " homes are for sale in {{city}}"); 
          </script>
          <div id="slider"></div>
          <script>
              $(function() {
                  $( "#slider" ).slider();
              });
          </script>
<!-- old jinja for-loop usedto exist here to take out listing data. -->
<script>
//MAKE MAP APPEAR
L.mapbox.accessToken = 'pk.eyJ1Ijoic2FyYWhmbyIsImEiOiJaQmdHLWZJIn0.eEg4zenYs0-qcPsMBZ9i1g';
var map = L.mapbox.map('map').setView([{{setView.lat}},{{setView.lon}}], 13);
L.control.layers({'Mapbox Streets': L.mapbox.tileLayer('mapbox.streets').addTo(map),

});

var myHouseLayer = L.mapbox.featureLayer().addTo(map)
var setView = [{{setView.lat}}, {{setView.lon}}]
var features = [];
// Using Jinja to unpack and create the feature collections for the feature layer:
{% for listing in listings %}
  {% if listing.latitude %}
  {% if listing.longitude %}

              features.push({
                  type: 'Feature',   //geoJSON portion
                  geometry: {
                      type: 'Point',
                      coordinates: [{{listing.longitude}}, {{listing.latitude}}]
                  },
                  properties: {
                      'marker-color': '#42647F',
                      'marker-symbol': 'building',
                       title: '{{listing.address}}',
                      'url': '{{listing.url}}',
                      {% if listing.list_price %}
                      'Price': {{listing.list_price}}
                      {% endif %}
                  }
              });
      {% endif %}
  {% endif %}      
{% endfor %}

          map.on('move', function() {
              var inBounds = [],  // Construct an empty list to fill with onscreen markers.
                  bounds = map.getBounds(); // Get the map bounds - the top-left and bottom-right locations.

              // For each marker, consider whether it is currently visible by comparing with the current map bounds.
              myHouseLayer.eachLayer(function(marker) {
                  if (bounds.contains(marker.getLatLng())) {
                      inBounds.push(marker.options.title);
                  }
              });
          });
            myHouseLayer.on('layeradd', function(e){
            var marker = e.layer,
                feature = marker.feature;

            var housePopupContent ='<a target="_blank" class="popup" href="' + feature.properties.url + '">' +
                                     feature.properties.title + '<br \/>' + '</a>' +
                                    '<p>List Price:' + feature.properties.Price + '<\/p>';

            marker.bindPopup(housePopupContent,{
              closeButton: false,
            });
          });
                  myHouseLayer.setGeoJSON({
                      type: 'FeatureCollection',
                      features: features
                  });
// Filter homes by price using a slider///////////////////////////////////
</script>
<p>
  <label for="amount">Price range:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>
<script>
{% for i in min_max_price %}  // grab min and max price from jinja
  var minPrice = {{min_max_price[0]}}
  var maxPrice = {{min_max_price[1]}}
{% endfor %}
    $(function(){
      $("#slider-range").slider({
        range: true,
        min: minPrice,
        max: maxPrice,
    //     slide: function (event, ui) {
    //       $("#amount").val( "$" + ui.values[0] + " - $" + ui.values[1]);
    //     }
    //   });
    // $("#amount").val("$" + $("#slider-range").slider("values",0) + "
    //   - $" + $("#slider-range").slider("values",1));
  });
// })

// function updateSlider(slideAmount)
// for (var i = 0; i < features.length; i++) {

// function showHomes(minPrice, maxPrice) {
//     $('#myHouseLayer').hide().filter(function() {
//         var price = parseInt($(this).data("price"), 10);
//         return price >= minPrice && price <= maxPrice;
//     }).show();
// }

// $(function() {
//     var options = {
//         range: true,
//         min: 0,
//         max: 1000000,
//         values: [50, 300],
//         slide: function(event, ui) {
//             var min = ui.values[0],
//                 max = ui.values[1];

//             $("#amount").val("$" + min + " - $" + max);
//             showHomes(min, max);
//         }
//     }, min, max;

//     $("#slider-range").slider(options);

//     min = $("#slider-range").slider("values", 0);
//     max = $("#slider-range").slider("values", 1);

//     $("#amount").val("$" + min + " - $" + max);

//     showHomes(min, max);
// })
 -->



</script>
</div>
	<div class="col-md-3">
		<form id="Yelp_Params">
			  <h5> I want to live within walking distance of: </h5>
				<label> <input type="checkbox" name="category_filter" value="grocery"> Grocery Stores </label>
				<br>
				<label><input type="checkbox" name="category_filter" value="gyms"> Gym </label>
				<br>
				<label><input type="checkbox" name="category_filter" value="restaurants"> Restaurants </label>
				<br>
				<label><input type="checkbox" name="category_filter" value="divebars"> Dive Bars </label>
				<br>
				<label><input type="checkbox" name="category_filter" value="gaybars"> Gay Bars </label>
				<br>
				<label><input type="checkbox" name="category_filter" value="meditationcenters"> Meditation Centers </label>
				<br>
				<label><input type="checkbox" name="category_filter" value="yoga"> Yoga </label>
				<br>
				<label><input type="checkbox" name="category_filter" value="rock_climbing"> Rock Climbing </label>
				<br>
        <input type="hidden" name="location" value="{{city}}">
				<button id="submit_prefs"> Display</button>
			</form>
		</div>
	</div>
</div>

<script>
// Create query, query Yelp API, return response to create the feature layer and feature collection for Yelp businesses.  AJAX call.
var yelpLayer1 = L.mapbox.featureLayer().addTo(map)
$('#submit_prefs').bind('click', getData)

function getData(e){
  e.preventDefault();
  var url = '/yelp_params'
  var data = $('#Yelp_Params').serializeArray();
  $.get(url, data, function(result){
      var features = [];
          for (var i = 0; i < result.businesses.length; i++) {
              var lat = result.businesses[i].location.coordinate.latitude;
              var lon = result.businesses[i].location.coordinate.longitude; 
              var category5 = result.businesses[i].categories[0]
                /// possibly put if statement to determine categories and change marker-symbol here////
              features.push({
                  type: 'Feature',
                  geometry: {
                      type: 'Point',
                      coordinates: [lon, lat]},
                  properties: {
                      'marker-color': '#f01',
                      'marker-symbol':'star-stroked',
                      'marker-size': 'medium',
                      'title': result.businesses[i].name,
                      'url': result.businesses[i].url,
                      'rating': result.businesses[i].rating_img_url_small
                  }
              });
          }
// Now make custom popup markers containing info for each business returned.

  yelpLayer1.on('layeradd', function(e){
    var yelpMarker = e.layer,
        feature = yelpMarker.feature;

    var yelpPopupContent ='<a target="_blank" class="popup" href="' + feature.properties.url + '">' +
                             feature.properties.title + '<br \/>' +
                            '<img src="' + feature.properties.rating + '" />'  +
                        '</a>';

    yelpMarker.bindPopup(yelpPopupContent,{
      closeButton: false,
    });
  });
          yelpLayer1.setGeoJSON({
              type: 'FeatureCollection',
              features: features
          });
      });
}

</script>

    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-3">


          
       


        </div>
      </div>
    
{% endblock %}